/*			Import			*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
footer {
  position: fixed;
  bottom: 10px;
  left: 35vw;
  color: white;
}
footer a {
  color: white;
}
@-moz-keyframes glitch {
  0% {
    -moz-transform: skew(68deg);
    transform: skew(68deg);
  }
  5% {
    -moz-transform: skew(16deg);
    transform: skew(16deg);
  }
  10% {
    -moz-transform: skew(-37deg);
    transform: skew(-37deg);
  }
  15% {
    -moz-transform: skew(74deg);
    transform: skew(74deg);
  }
  20% {
    -moz-transform: skew(41deg);
    transform: skew(41deg);
  }
  25% {
    -moz-transform: skew(-51deg);
    transform: skew(-51deg);
  }
  30% {
    -moz-transform: skew(-47deg);
    transform: skew(-47deg);
  }
  35% {
    -moz-transform: skew(-13deg);
    transform: skew(-13deg);
  }
  40% {
    -moz-transform: skew(-67deg);
    transform: skew(-67deg);
  }
  45% {
    -moz-transform: skew(-74deg);
    transform: skew(-74deg);
  }
  50% {
    -moz-transform: skew(-39deg);
    transform: skew(-39deg);
  }
  55% {
    -moz-transform: skew(-25deg);
    transform: skew(-25deg);
  }
  60% {
    -moz-transform: skew(-68deg);
    transform: skew(-68deg);
  }
  65% {
    -moz-transform: skew(-55deg);
    transform: skew(-55deg);
  }
  70% {
    -moz-transform: skew(-8deg);
    transform: skew(-8deg);
  }
  75% {
    -moz-transform: skew(-55deg);
    transform: skew(-55deg);
  }
  80% {
    -moz-transform: skew(74deg);
    transform: skew(74deg);
  }
  85% {
    -moz-transform: skew(-54deg);
    transform: skew(-54deg);
  }
  90% {
    -moz-transform: skew(-44deg);
    transform: skew(-44deg);
  }
  95% {
    -moz-transform: skew(-62deg);
    transform: skew(-62deg);
  }
}
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: skew(78deg);
    transform: skew(78deg);
  }
  5% {
    -webkit-transform: skew(87deg);
    transform: skew(87deg);
  }
  10% {
    -webkit-transform: skew(67deg);
    transform: skew(67deg);
  }
  15% {
    -webkit-transform: skew(-76deg);
    transform: skew(-76deg);
  }
  20% {
    -webkit-transform: skew(24deg);
    transform: skew(24deg);
  }
  25% {
    -webkit-transform: skew(-32deg);
    transform: skew(-32deg);
  }
  30% {
    -webkit-transform: skew(61deg);
    transform: skew(61deg);
  }
  35% {
    -webkit-transform: skew(-44deg);
    transform: skew(-44deg);
  }
  40% {
    -webkit-transform: skew(44deg);
    transform: skew(44deg);
  }
  45% {
    -webkit-transform: skew(62deg);
    transform: skew(62deg);
  }
  50% {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
  }
  55% {
    -webkit-transform: skew(35deg);
    transform: skew(35deg);
  }
  60% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  65% {
    -webkit-transform: skew(-21deg);
    transform: skew(-21deg);
  }
  70% {
    -webkit-transform: skew(-71deg);
    transform: skew(-71deg);
  }
  75% {
    -webkit-transform: skew(28deg);
    transform: skew(28deg);
  }
  80% {
    -webkit-transform: skew(16deg);
    transform: skew(16deg);
  }
  85% {
    -webkit-transform: skew(51deg);
    transform: skew(51deg);
  }
  90% {
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
  }
  95% {
    -webkit-transform: skew(38deg);
    transform: skew(38deg);
  }
}
@keyframes glitch {
  0% {
    -moz-transform: skew(-52deg);
    -ms-transform: skew(-52deg);
    -webkit-transform: skew(-52deg);
    transform: skew(-52deg);
  }
  5% {
    -moz-transform: skew(46deg);
    -ms-transform: skew(46deg);
    -webkit-transform: skew(46deg);
    transform: skew(46deg);
  }
  10% {
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
  }
  15% {
    -moz-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
  }
  20% {
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  25% {
    -moz-transform: skew(29deg);
    -ms-transform: skew(29deg);
    -webkit-transform: skew(29deg);
    transform: skew(29deg);
  }
  30% {
    -moz-transform: skew(33deg);
    -ms-transform: skew(33deg);
    -webkit-transform: skew(33deg);
    transform: skew(33deg);
  }
  35% {
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  40% {
    -moz-transform: skew(-61deg);
    -ms-transform: skew(-61deg);
    -webkit-transform: skew(-61deg);
    transform: skew(-61deg);
  }
  45% {
    -moz-transform: skew(2deg);
    -ms-transform: skew(2deg);
    -webkit-transform: skew(2deg);
    transform: skew(2deg);
  }
  50% {
    -moz-transform: skew(-54deg);
    -ms-transform: skew(-54deg);
    -webkit-transform: skew(-54deg);
    transform: skew(-54deg);
  }
  55% {
    -moz-transform: skew(-9deg);
    -ms-transform: skew(-9deg);
    -webkit-transform: skew(-9deg);
    transform: skew(-9deg);
  }
  60% {
    -moz-transform: skew(35deg);
    -ms-transform: skew(35deg);
    -webkit-transform: skew(35deg);
    transform: skew(35deg);
  }
  65% {
    -moz-transform: skew(-41deg);
    -ms-transform: skew(-41deg);
    -webkit-transform: skew(-41deg);
    transform: skew(-41deg);
  }
  70% {
    -moz-transform: skew(-8deg);
    -ms-transform: skew(-8deg);
    -webkit-transform: skew(-8deg);
    transform: skew(-8deg);
  }
  75% {
    -moz-transform: skew(-88deg);
    -ms-transform: skew(-88deg);
    -webkit-transform: skew(-88deg);
    transform: skew(-88deg);
  }
  80% {
    -moz-transform: skew(-13deg);
    -ms-transform: skew(-13deg);
    -webkit-transform: skew(-13deg);
    transform: skew(-13deg);
  }
  85% {
    -moz-transform: skew(-14deg);
    -ms-transform: skew(-14deg);
    -webkit-transform: skew(-14deg);
    transform: skew(-14deg);
  }
  90% {
    -moz-transform: skew(28deg);
    -ms-transform: skew(28deg);
    -webkit-transform: skew(28deg);
    transform: skew(28deg);
  }
  95% {
    -moz-transform: skew(-1deg);
    -ms-transform: skew(-1deg);
    -webkit-transform: skew(-1deg);
    transform: skew(-1deg);
  }
}
@-moz-keyframes noise {
  0% {
    background-position: 62px 1px;
  }
  10% {
    background-position: -32px 72px;
  }
  20% {
    background-position: 49px 49px;
  }
  30% {
    background-position: 41px -65px;
  }
  40% {
    background-position: 59px 74px;
  }
  50% {
    background-position: 100px 48px;
  }
  60% {
    background-position: -16px 52px;
  }
  70% {
    background-position: 79px 13px;
  }
  80% {
    background-position: 63px 39px;
  }
  90% {
    background-position: 68px 44px;
  }
}
@-webkit-keyframes noise {
  0% {
    background-position: 56px 72px;
  }
  10% {
    background-position: 12px -89px;
  }
  20% {
    background-position: -54px 72px;
  }
  30% {
    background-position: -8px 81px;
  }
  40% {
    background-position: 49px 42px;
  }
  50% {
    background-position: -23px -17px;
  }
  60% {
    background-position: -13px -71px;
  }
  70% {
    background-position: -95px 98px;
  }
  80% {
    background-position: -35px 47px;
  }
  90% {
    background-position: 63px 11px;
  }
}
@keyframes noise {
  0% {
    background-position: -15px 85px;
  }
  10% {
    background-position: -52px 80px;
  }
  20% {
    background-position: -88px 79px;
  }
  30% {
    background-position: 29px -44px;
  }
  40% {
    background-position: -16px -9px;
  }
  50% {
    background-position: -31px -21px;
  }
  60% {
    background-position: -3px 21px;
  }
  70% {
    background-position: -44px -8px;
  }
  80% {
    background-position: 53px -20px;
  }
  90% {
    background-position: -34px -89px;
  }
}
@-moz-keyframes bar {
  0% {
    height: 316px;
    top: 14%;
    opacity: 0.18;
  }
  10% {
    height: 570px;
    top: 9%;
    opacity: 0.14;
  }
  20% {
    height: 205px;
    top: 95%;
    opacity: 0.39;
  }
  30% {
    height: 49px;
    top: 90%;
    opacity: 0.13;
  }
  40% {
    height: 107px;
    top: 22%;
    opacity: 0.69;
  }
  50% {
    height: 162px;
    top: 25%;
    opacity: 0.53;
  }
  60% {
    height: 485px;
    top: 28%;
    opacity: 0.35;
  }
  70% {
    height: 269px;
    top: 64%;
    opacity: 0.54;
  }
  80% {
    height: 151px;
    top: 50%;
    opacity: 0.33;
  }
  90% {
    height: 536px;
    top: 13%;
    opacity: 0.56;
  }
}
@-webkit-keyframes bar {
  0% {
    height: 176px;
    top: 76%;
    opacity: 0.43;
  }
  10% {
    height: 271px;
    top: 52%;
    opacity: 0.27;
  }
  20% {
    height: 316px;
    top: 94%;
    opacity: 0.47;
  }
  30% {
    height: 540px;
    top: 42%;
    opacity: 0.04;
  }
  40% {
    height: 196px;
    top: 66%;
    opacity: 0.15;
  }
  50% {
    height: 518px;
    top: 83%;
    opacity: 0.01;
  }
  60% {
    height: 326px;
    top: 41%;
    opacity: 0.04;
  }
  70% {
    height: 399px;
    top: 15%;
    opacity: 0.15;
  }
  80% {
    height: 56px;
    top: 31%;
    opacity: 0.46;
  }
  90% {
    height: 405px;
    top: 43%;
    opacity: 0.27;
  }
}
@keyframes bar {
  0% {
    height: 447px;
    top: 47%;
    opacity: 0.73;
  }
  10% {
    height: 622px;
    top: 84%;
    opacity: 0.4;
  }
  20% {
    height: 496px;
    top: 96%;
    opacity: 0.15;
  }
  30% {
    height: 161px;
    top: 35%;
    opacity: 0.29;
  }
  40% {
    height: 618px;
    top: 12%;
    opacity: 0.69;
  }
  50% {
    height: 617px;
    top: 86%;
    opacity: 0.3;
  }
  60% {
    height: 558px;
    top: 57%;
    opacity: 0.3;
  }
  70% {
    height: 234px;
    top: 29%;
    opacity: 0.14;
  }
  80% {
    height: 144px;
    top: 20%;
    opacity: 0.59;
  }
  90% {
    height: 169px;
    top: 67%;
    opacity: 0.12;
  }
}
.glitch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font: 15px "Michroma", helvetica, sans-serif;
  letter-spacing: 0.6em;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=61&opacity=20);
  text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;
  -moz-animation: noise 0.3s infinite;
  -webkit-animation: noise 0.3s infinite;
  animation: noise 0.3s infinite;
}
.glitch:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.glitch:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=ffffff&density=61&opacity=40);
  -moz-animation: bar 0.5s infinite;
  -webkit-animation: bar 0.5s infinite;
  animation: bar 0.5s infinite;
}
.glitch span {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -moz-animation: glitch 3s infinite alternate;
  -webkit-animation: glitch 3s infinite alternate;
  animation: glitch 3s infinite alternate;
}
a {
  text-decoration: none;
  color: black;
}
.lightbox {
  width: 0px;
  height: 0px;
  position: fixed;
  overflow: hidden;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 9999999;
  text-align: center;
  background: #f1d2c2;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #000000 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.56)), color-stop(100%, #000000));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #000000 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #000000 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #000000 100%);
  background: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, #000000 100%);
}
.lightbox > div {
  position: relative;
  color: #eeeeee;
  opacity: 0;
  filter: alpha(opacity=0);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  /*IE8*/
  width: 550px;
  margin: 10px auto 0px auto;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  -webkit-transition: opacity 0.3s linear 1.3s;
  -moz-transition: opacity 0.3s linear 1.3s;
  -o-transition: opacity 0.3s linear 1.3s;
  -ms-transition: opacity 0.3s linear 1.3s;
  transition: opacity 0.3s linear 1.3s;
}
.lightbox div h3,
.lightbox div p {
  padding: 0px 20px;
  width: 200px;
  height: 60px;
}
.lightbox div h3 {
  font-size: 36px;
  float: left;
  text-align: right;
  border-right: 1px solid rgba(27, 54, 81, 0.4);
}
.lightbox div h3 span,
.lightbox div p {
  font-size: 16px;
  font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-style: italic;
}
.lightbox div h3 span {
  display: block;
  line-height: 6px;
}
.lightbox div p {
  text-align: left;
  float: left;
  width: 200px;
}
.lightbox a.lb-close {
  /*background: rgba(27,54,81,0.8);*/
  z-index: 1001;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 49%;
  font-size: 40px;
  line-height: 48px;
  overflow: hidden;
  opacity: 0;
}
.lightbox img {
  /* height: 100%; For Opera max-height does not seem to work */
  max-height: 100%;
  position: relative;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
.lightbox:target {
  width: auto;
  height: auto;
  bottom: 0px;
  right: 0px;
  padding: 80px 100px 120px 100px;
}
.lightbox:target img {
  -webkit-animation: fadeInScale 1.2s ease-in-out;
  -moz-animation: fadeInScale 1.2s ease-in-out;
  -o-animation: fadeInScale 1.2s ease-in-out;
  -ms-animation: fadeInScale 1.2s ease-in-out;
  animation: fadeInScale 1.2s ease-in-out;
}
.lightbox:target a.lb-close,
.lightbox:target > div {
  opacity: 1;
  filter: alpha(opacity=99);
  /* internet explorer */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  /*IE8*/
}
@-webkit-keyframes fadeInScale {
  0% {
    -webkit-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInScale {
  0% {
    -moz-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fadeInScale {
  0% {
    -o-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -o-transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes fadeInScale {
  0% {
    -ms-transform: scale(0.6);
    opacity: 0;
  }
  100% {
    -ms-transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInScale {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus,
.lightbox img {
  height: 100%;
}
.lightbox p,
.lightbox h3 {
  text-shadow: 3px 3px 3px #969696;
}
html {
  background-size: cover;
  font-family: source-sans-pro, sans-serif;
}
.bgi {
  background: url(../m/background.jpg) 0% no-repeat;
  background-size: cover;
}
.bgs {
  background: url(../m/blur.png) 100% no-repeat;
}
.metro {
  width: 890px;
  margin: 0 auto;
  margin-top: 3%;
}
.accueil {
  position: relative;
  top: 15vh;
}
.accueil p {
  font-size: 24px;
  line-height: 2em;
  text-align: center;
}
.accueil img {
  height: 300px;
  width: 300px;
}
.accueil h1 {
  margin-top: -10px;
}
h1 {
  font-size: 70px;
  text-align: center;
}
h2 {
  font-size: 70px;
  text-align: center;
}
@media screen and (orientation: portrait) {
  .bgs {
    background: url(../m/blur-mobile.jpg) 100% no-repeat;
  }
}
.metro .pull-left {
  float: left;
}
.metro .pull-right {
  float: right;
}
.metro .large-top {
  position: relative;
  width: 400px;
  height: 310px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .large-top:hover .fruitgy,
.metro .large-top:hover .melies {
  top: 100px;
}
.metro .large-top:hover .lg {
  top: 0;
}
.metro .large-top .lg {
  width: 400px;
  height: 100px;
  background: #fff;
  position: absolute;
  top: -100px;
  transition: all 1s;
  z-index: 100;
}
.metro .large-top .lg h1 {
  font-size: 6em;
  text-align: center;
  margin-top: 0px;
}
.metro .large-top .melies {
  position: relative;
  top: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/vignette/melies.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .large-top .fruitgy {
  position: relative;
  top: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/vignette/fruitgy.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .large-bottom {
  position: relative;
  width: 400px;
  height: 310px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .large-bottom:hover .paris,
.metro .large-bottom:hover .caravan {
  top: -100px;
}
.metro .large-bottom:hover .lg {
  bottom: 0;
}
.metro .large-bottom .lg {
  width: 400px;
  height: 100px;
  background: #fff;
  position: absolute;
  bottom: -100px;
  transition: all 1s;
  z-index: 100;
}
.metro .large-bottom .lg h1 {
  font-size: 6em;
  text-align: center;
  margin-top: 0px;
}
.metro .large-bottom .paris {
  position: relative;
  top: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/vignette/paris.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .large-bottom .caravan {
  position: relative;
  top: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/image/caravan.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .large-right {
  position: relative;
  width: 400px;
  height: 310px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .large-right:hover .vingt,
.metro .large-right:hover .showreel {
  left: -100px;
}
.metro .large-right:hover .lg {
  right: 0;
}
.metro .large-right .lg {
  width: 100px;
  height: 400px;
  background: #fff;
  position: absolute;
  right: -100px;
  transition: all 1s;
  z-index: 100;
}
.metro .large-right .lg h1 {
  font-size: 6em;
  text-align: center;
  margin-top: 100px;
}
.metro .large-right .vingt {
  position: relative;
  left: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/vignette/vingt.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .large-right .showreel {
  position: relative;
  left: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/vignette/showreel.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .large-left {
  position: relative;
  width: 400px;
  height: 310px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .large-left:hover .odysee,
.metro .large-left:hover .artdeco {
  right: -100px;
}
.metro .large-left:hover .lg {
  left: 0;
}
.metro .large-left .lg {
  width: 100px;
  height: 400px;
  background: #fff;
  position: absolute;
  left: -100px;
  transition: all 1s;
  z-index: 100;
}
.metro .large-left .lg h1 {
  font-size: 6em;
  text-align: center;
  margin-top: 100px;
}
.metro .large-left .odysee {
  position: relative;
  right: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/vignette/odysee.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .large-left .artdeco {
  position: relative;
  right: 0;
  height: 310px;
  width: 400px;
  background: url(../../media/vignette/artdeco.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .pull-left {
  float: left;
}
.metro .pull-right {
  float: right;
}
.metro .medium-top {
  position: relative;
  width: 310px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .medium-top:hover .tatoo,
.metro .medium-top:hover .scruff {
  bottom: -50px;
}
.metro .medium-top:hover .md {
  top: 0;
}
.metro .medium-top .md {
  width: 310px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: -50px;
  transition: all 1s;
  z-index: 100;
}
.metro .medium-top .md h1 {
  font-size: 4em;
  text-align: center;
  margin-top: -10px;
}
.metro .medium-top .tatoo {
  position: relative;
  bottom: 0;
  height: 150px;
  width: 310px;
  background: url(http://hqscreen.com/wallpapers/m/53/tattoos_men_fingers_blurred_background_m52522.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .medium-top .scruff {
  position: relative;
  bottom: 0;
  height: 150px;
  width: 310px;
  background: url(../../media/vignette/scruff.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .medium-bottom {
  position: relative;
  width: 310px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .medium-bottom:hover .sceno {
  top: -50px;
}
.metro .medium-bottom:hover .md {
  bottom: 0;
}
.metro .medium-bottom .md {
  width: 310px;
  height: 50px;
  background: #fff;
  position: absolute;
  bottom: -50px;
  transition: all 1s;
  z-index: 100;
}
.metro .medium-bottom .md h1 {
  font-size: 4em;
  text-align: center;
  margin-top: -5px;
}
.metro .medium-bottom .sceno {
  position: relative;
  top: 0;
  height: 150px;
  width: 310px;
  background: url(../../media/image/sceno.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .medium-right {
  position: relative;
  width: 310px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .medium-right:hover .svj {
  right: -100px;
}
.metro .medium-right:hover .md {
  left: 0;
}
.metro .medium-right .md {
  width: 100px;
  height: 150px;
  background: #fff;
  position: absolute;
  left: -100px;
  transition: all 1s;
  z-index: 100;
}
.metro .medium-right .md h1 {
  font-size: 6em;
  text-align: center;
  margin-top: 25px;
}
.metro .medium-right .svj {
  position: relative;
  right: 0;
  height: 150px;
  width: 310px;
  background: url(../../media/image/svj.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .medium-left {
  position: relative;
  width: 310px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .medium-left:hover .bogus,
.metro .medium-left:hover .panama {
  left: -100px;
}
.metro .medium-left:hover .md {
  right: 0;
}
.metro .medium-left .md {
  width: 100px;
  height: 150px;
  background: #fff;
  position: absolute;
  right: -100px;
  transition: all 1s;
  z-index: 100;
}
.metro .medium-left .md h1 {
  font-size: 6em;
  text-align: center;
  margin-top: 25px;
}
.metro .medium-left .bogus {
  position: relative;
  left: 0;
  height: 150px;
  width: 310px;
  background: url(../../media/image/bogus.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .medium-left .panama {
  position: relative;
  left: 0;
  height: 150px;
  width: 310px;
  background: url(../../media/image/panama.png) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .pull-left {
  float: left;
}
.metro .pull-right {
  float: right;
}
.metro .small-top {
  position: relative;
  width: 150px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .small-top:hover .absolut,
.metro .small-top:hover .pleinsens,
.metro .small-top:hover .feist,
.metro .small-top:hover .pavillon,
.metro .small-top:hover .austrelitz {
  bottom: -50px;
}
.metro .small-top:hover .sm {
  top: 0;
}
.metro .small-top .sm {
  width: 150px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: -50px;
  transition: all 1s;
  z-index: 100;
}
.metro .small-top .sm h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 0px;
}
.metro .small-top .absolut {
  position: relative;
  bottom: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/vignette/absolut.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-top .pleinsens {
  position: relative;
  bottom: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/pleinsens.png) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-top .feist {
  position: relative;
  bottom: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/feist.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-top .pavillon {
  position: relative;
  bottom: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/pavillon.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-top .austrelitz {
  position: relative;
  bottom: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/austrelitz.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-bottom {
  position: relative;
  width: 150px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .small-bottom:hover .saulbass,
.metro .small-bottom:hover .typo,
.metro .small-bottom:hover .coffret,
.metro .small-bottom:hover .hopital {
  top: -50px;
}
.metro .small-bottom:hover .sm {
  bottom: 0;
}
.metro .small-bottom .sm {
  width: 150px;
  height: 50px;
  background: #fff;
  position: absolute;
  bottom: -50px;
  transition: all 1s;
  z-index: 100;
}
.metro .small-bottom .sm h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 0px;
}
.metro .small-bottom .saulbass {
  position: relative;
  top: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/vignette/saulbass.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-bottom .typo {
  position: relative;
  top: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/vignette/typo.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-bottom .coffret {
  position: relative;
  top: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/coffret.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-bottom .hopital {
  position: relative;
  top: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/hopital.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-right {
  position: relative;
  width: 150px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .small-right:hover .partisan,
.metro .small-right:hover .pere {
  right: -50px;
}
.metro .small-right:hover .sm {
  left: 0;
}
.metro .small-right .sm {
  width: 50px;
  height: 150px;
  background: #fff;
  position: absolute;
  left: -50px;
  transition: all 1s;
  z-index: 100;
}
.metro .small-right .sm h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 45px;
}
.metro .small-right .partisan {
  position: relative;
  right: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/vignette/partisan.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-right .pere {
  position: relative;
  right: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/pere.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-left {
  position: relative;
  width: 150px;
  height: 150px;
  background: #111;
  margin: 5px;
  overflow: hidden;
}
.metro .small-left:hover .vivaldi,
.metro .small-left:hover .pompidou,
.metro .small-left:hover .cent {
  left: -50px;
}
.metro .small-left:hover .sm {
  right: 0;
}
.metro .small-left .sm {
  width: 50px;
  height: 150px;
  background: #fff;
  position: absolute;
  right: -50px;
  transition: all 1s;
  z-index: 100;
}
.metro .small-left .sm h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 45px;
}
.metro .small-left .vivaldi {
  position: relative;
  left: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/vignette/vivaldi.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-left .pompidou {
  position: relative;
  left: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/pompidou.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.metro .small-left .cent {
  position: relative;
  left: 0;
  height: 150px;
  width: 150px;
  background: url(../../media/image/cent.jpg) no-repeat center;
  background-size: cover;
  transition: all 1s;
  z-index: 50;
}
.menu-icon {
  position: fixed;
  top: 35%;
  left: -48px;
  height: 240px;
  width: 96px;
  background: #1F282D;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  box-shadow: 0px 0px 3px #444;
  z-index: 500;
}
.menu-icon img {
  position: relative;
  top: 25px;
  left: 46px;
  height: 180px;
  width: 48px;
  opacity: 0.8;
}
#navbar a {
  text-decoration: none;
  color: #ededed;
}
.shownav {
  z-index: 9999;
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
.hidenav0 {
  z-index: -9999;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
.hidenav1 {
  z-index: 9996;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
}
.navbar0 {
  z-index: 10000;
  background: #1f282d;
  width: 100px;
  height: 100%;
  position: fixed;
  left: -100px;
  top: 0;
  vertical-align: middle;
  display: table;
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0, 1);
  transition: all 600ms cubic-bezier(0, 0, 0, 1);
}
.navbar1 {
  z-index: 10000;
  box-shadow: 0px 0px 3px #444;
  background: #1f282d;
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  vertical-align: middle;
  display: table;
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0, 1);
  transition: all 600ms cubic-bezier(0, 0, 0, 1);
}
.navbar2 {
  z-index: 10000;
  background: #1f282d;
  width: 100px;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0;
  vertical-align: middle;
  display: table;
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0, 1);
  transition: all 600ms cubic-bezier(0, 0, 0, 1);
}
.navbar-inner {
  display: table-cell;
  vertical-align: middle;
  height: 500px;
}
.nav-item {
  background: #1f282d;
  text-align: center;
  vertical-align: middle;
  display: block;
  width: 100px;
  height: 100px;
}
.nav-item img {
  width: 40px;
  height: 40px;
  padding: 15px 0 0 0;
  opacity: 0.9;
}
.nav-item p {
  color: #ededed;
  font-size: 13px;
  font-weight: bold;
  line-height: 2em;
}
.nav-item.one:hover {
  background: #c9b5d9;
}
.nav-item.two:hover {
  background: #c9b5d9;
}
.nav-item.three:hover {
  background: #c9b5d9;
}
.nav-item.four:hover {
  background: #c9b5d9;
}
.nav-item.five:hover {
  background: #c9b5d9;
}
.nav-item.six:hover {
  background: #c9b5d9;
}
.nav-item.one.active {
  background: #652480;
}
.nav-item.two.active {
  background: #652480;
}
.nav-item.three.active {
  background: #652480;
}
.nav-item.four.active {
  background: #652480;
}
.nav-item.five.active {
  background: #652480;
}
.nav-item.six.active {
  background: #652480;
}
.black-trans {
  background-color: #000000;
  opacity: 1;
  z-index: 0;
}
@font-face {
  font-family: 'icomoon';
  src: url('../font/icomoon.eot');
  src: local('x'), url('../font/icomoon.woff') format('woff'), url('../font/icomoon.otf') format('opentype'), url('../font/icomoon.svg') format('svg');
}
/* Regular */
@font-face {
  font-family: 'League Gothic';
  src: url('../font/leaguegothic-italic-webfont.eot');
  src: url('../font/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/leaguegothic-italic-webfont.woff') format('woff'), url('../font/leaguegothic-italic-webfont.ttf') format('truetype'), url('../font/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
  font-weight: normal;
  font-style: italic;
}
/* Italic */
@font-face {
  font-family: 'League Gothic';
  src: url('../font/leaguegothic-regular-webfont.eot');
  src: url('../font/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/leaguegothic-regular-webfont.woff') format('woff'), url('../font/leaguegothic-regular-webfont.ttf') format('truetype'), url('../font/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Condensed */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url('../font/leaguegothic-condensed-regular-webfont.eot');
  src: url('../font/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/leaguegothic-condensed-regular-webfont.woff') format('woff'), url('../font/leaguegothic-condensed-regular-webfont.ttf') format('truetype'), url('../font/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Condensed Italic */
@font-face {
  font-family: 'League Gothic Condensed';
  src: url('../font/leaguegothic-condensed-italic-webfont.eot');
  src: url('../font/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../font/leaguegothic-condensed-italic-webfont.woff') format('woff'), url('../font/leaguegothic-condensed-italic-webfont.ttf') format('truetype'), url('../font/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
  font-weight: normal;
  font-style: italic;
}
.league {
  font-family: 'League Gothic';
}
.leaguec {
  font-family: 'League Gothic Condensed';
}
.pathway {
  font-family: 'Pathway Gothic One', sans-serif;
}
.icon {
  font-family: 'icomoon';
}
.movie-section {
  background-color: #000000;
  opacity: 1;
  z-index: 0;
}
#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  overflow: hidden;
}
#img-background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.cv {
  position: absolute;
  top: 10vh;
  left: 30vh;
  height: 75vh;
}
.contact h1 {
  position: relative;
  top: 30vh;
  right: 20vw;
  font-size: 4em;
  line-height: 2em;
  text-align: right;
}
